html, body {
  margin: 0;
}

.App{
  display: flex;
  flex-direction: column;
  height: 100vh; 
  background-color:beige; 
}



@media screen and (max-width: 600px) {
  /* smaller screens */
  .box .row.content {
    flex-direction: column;   /* by simply swap direction it work on smaller screen */
  }
}

.App-header {
  background-color: white;
  position: sticky;
  top: 0; 
  padding: 10px 0px;
  width: 100%;
}

.App-footer {
  background-color: yellow;
  position: fixed;
  bottom: 0; 
  padding: 10px 0px;
  width: 100%;
}
